# Data Science Tools and Ecosystem

## Author
Caterina

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List commonly used Data Science Tools
- Show examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Seaborn
3. Pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebooks|
|RStudio|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [27]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hour_in_minutes = 60
print(f"{minutes} minutes is {minutes/hour_in_minutes} hours")
200/60

200 minutes is 3.3333333333333335 hours

3.3333333333333335